.button {
    -fx-pref-width: 185px;
    -fx-pref-height: 30px;
    -fx-border-width: 2px;
    -fx-border-color: #000000;
    -fx-border-radius: 5px;
    -fx-text-fill: #000000;
    -fx-background-color: #a6a6a6;
    -fx-background-radius: 5px;
}

#controlPanel{
    -fx-pref-height: 120px;
    -fx-padding: 10px;
    -fx-border-width: 2px;
    -fx-border-color: #737373;
    -fx-background-color: #b3b3b3;
    -fx-alignment: center;
    -fx-vgap: 10px;
    -fx-hgap: 10px;
}