#pauseButton{
    -fx-background-color: pink;
}

#nextButton{
    -fx-background-color: lightblue;
}

#loadButton{
    -fx-background-color: lightgreen;
}

#quitButton{
    -fx-background-color: grey;
}

#resumeButton{
    -fx-background-color: purple;
}
