.root {
    -fx-font-size: 15pt;
    -fx-font-family: "Times New Roman";
    -fx-background: #cce0ff;
    -fx-padding: 10px;
    -fx-spacing: 50px;
}

#gameDisplay{
    -fx-alignment: center;
    -fx-spacing: 50px;
}

#slider{
    -fx-font-size: 9pt;
    -fx-padding: 10px;
    -fx-alignment: center;
    -fx-pref-width: 500;
}

#sliderBox{
    -fx-alignment: center;
}

.button {
    -fx-font-size: 8pt;
    -fx-pref-width: 100px;
    -fx-border-color: #000000;
    -fx-border-radius: 5px;
    -fx-text-fill: #000000;
    -fx-background-color: #a6a6a6;
    -fx-background-radius: 5px;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}
.combo-box {
    -fx-pref-width: 100;
    -fx-font-size: 9pt;
    -fx-spacing: 50;
    -fx-label-padding: 15;
}
.combo-box-popup > .list-view {
    -fx-pref-width: 100;
    -fx-font-size: 9pt;
}

.h-box {
    -fx-pref-columns: 3;
    -fx-spacing: 500;
}
#tilePane {
    -fx-alignment: center;
    -fx-spacing: 15;
    -fx-padding: 15;
}
#bottomPanel {

    -fx-spacing: 50px;
}
#title {
    -fx-alignment: center;
}

#buttonPanel {
    -fx-alignment: center;
    -fx-padding: 10px;
}


