#DEAD {
    -fx-fill: black;
}
#ALIVE {
    -fx-fill: red;
}
#EMPTY_OPEN {
    -fx-fill: purple;
}
#FULL_OPEN {
    -fx-fill: blue;
}
#BLOCKED {
    -fx-fill: black;
}
#FISH {
    -fx-fill: turquoise;
}
#SHARK {
    -fx-fill: blue;
}
#WATER {
    -fx-fill: black;
}
#ROCK {
    -fx-fill: red;
}
#PAPER {
    -fx-fill: green;
}
#SCISSORS {
    -fx-fill: blue;
}
#EMPTY {
    -fx-fill: yellow;
}
#TREE {
    -fx-fill: green;
}
#BURNING {
    -fx-fill: red;
}
#X {
    -fx-fill: blue;
}
#O {
    -fx-fill: red;
}
#NO_RACE {
    -fx-fill: white;
}
#BLUE {
    -fx-fill: blue;
}
#PINK {
    -fx-fill: pink;
}
#GREEN {
    -fx-fill: green;
}
#GameGrid {
    -fx-alignment: center;
}