.root {
    -fx-font-size: 15pt;
    -fx-font-family: "Times New Roman";
    -fx-background: #cce0ff;
    -fx-padding: 5px;
}

#gameDisplay{
    -fx-alignment: center;
}
#gameDisplayBox {
    -fx-alignment: center;
    -fx-padding: 5;
}

#slider{
    -fx-font-size: 9pt;
    -fx-padding: 10px;
    -fx-alignment: center;
    -fx-pref-width: 500;
}

#sliderBox{
    -fx-alignment: center;
}

.button {
    -fx-font-size: 8pt;
    -fx-pref-width: 100px;
    -fx-border-color: #000000;
    -fx-border-radius: 5px;
    -fx-text-fill: #000000;
    -fx-background-color: #a6a6a6;
    -fx-background-radius: 5px;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}
.combo-box {
    -fx-pref-width: 100;
    -fx-font-size: 7pt;
    -fx-spacing: 20;
    -fx-alignment: center;
    -fx-padding: 0,0,0,0;
}
.label {
    -fx-alignment: center-right;
    -fx-font-size: 9pt;
    -fx-padding: 0,20,0,0;
    -fx-font-family: "Times New Roman";
}
.combo-box-popup > .list-view {
    -fx-pref-width: 100;
    -fx-font-size: 7pt;
}

#bottomPanel {
    -fx-spacing: 70px;
    -fx-alignment: center;
    -fx-padding: 10;
    -fx-background-color: #7bafd8;
    -fx-background-radius: 3;
}
#title {
    -fx-alignment: center;
}

#buttonPanel {
    -fx-alignment: center;
    -fx-padding: 8px;
}

#hBox {
    -fx-alignment: center;
    -fx-padding: 10;
}

#initialUserDialogs {
    -fx-pref-width: 600;
    -fx-pref-height: 600;
    -fx-background-color: blue;
}


